.task-item {
  background-color: #b3e7eb;
  border-radius: 6px;
  box-shadow: 0 1px 0 rgb(29, 29, 29);
  cursor: pointer;
  margin-bottom: 8px;
  width: 100%;
  padding: 8px 4px;
  color: rgb(24, 24, 24);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.task-item input[type="text"] {
  border: none;
  font-size: 14px;
  display: block;
  width: 100%;
}

.task-item select {
  display: block;
  width: 100%;
  margin-top: 8px;
}
